body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 50px;
    background-color:black;
}
/* div.centre {
  height: 100px;
  width: 1500px;
  display: block;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
} */
header * {
    display: inline;
    height: 100px;
}
@font-face {
  font-family: robotoMedium;
  src: url("Roboto-Medium.ttf");
}
@font-face {
  font-family: robotoLight;
  src: url("Roboto-Light.ttf");
}
header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}
section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#title .profile-img {
    width: 300px;
    border-radius: 50%;
}
header ul button:hover {
  opacity = 1;
}
footer {
    text-align: center;
    background-color = black;
    color = white;
    padding: 50px;
}
#tryitout {
    font-size = 3em;
}
#title h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: white;
}

/* Add everything below here */

#title {
    background-image: url("rocketlaunch2.jpg");
}
#tryitout {
    background-image: url("rocketlaunch.jpg");
}
#aboutproject {
    background-image: url("laptopdesktoppic3.jpg");
}

#aboutus {
    background-image: url("Rocket.jpeg");
}
